container-commands:
  01-create-log-dir:
    command: "cd /var/app/ondeck/app/tmp; mkdir -p logs"
  02-create-log-files:
    command: "cd /var/app/ondeck/app/tmp/logs; touch debug.log; touch error.log"
  03-update-tmp-owner:
    command: "cd /var/app/ondeck/app; chown -R webapp:webapp tmp/"
  04-update-tmp-permissions:
    command: "cd /var/app/ondeck/app; chmod -R 777 tmp/"
