files:
  "/var/app/current/.htaccess":
        mode: "000755"
        owner:webapp
        group:webapp
        content: |
                <IfModule mod_rewrite.c>
                        RewriteEngine on
                        RewriteRule    ^$ app/webroot/    [L]
                        RewriteRule    (.*) app/webroot/$1 [L]
                </IfModule>
                SetEnv server_location "live"


container-commands:
  01-create-logs-dir:
    command: "cd /var/app/current/app/tmp/; mkdir logs"
  02-create-log-files:
        command: "cd /var/app/current/app/tmp/logs/; touch debug.log; touch error.log;"
  03-update-log-permissions:
        command: "cd /var/app/current/app/; chown -R webapp:webapp tmp/; chmod -R 777 tmp/;"
  04-download-database-config:
        command: "/var/app/current/app/Console/cake database_config"
