files:
  "/var/app/ondeck/.htaccess":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteRule    ^$ app/webroot/    [L]
        RewriteRule    (.*) app/webroot/$1 [L]
      </IfModule>
      SetEnv server_location "live"

container_commands:
  01-create-logs-dir:
    command: "cd /var/app/ondeck/app/tmp/; mkdir -p logs"
  02-create-log-files:
    command: "cd /var/app/ondeck/app/tmp/logs/; touch debug.log; touch error.log"
  03-update-log-permissions:
    command: "cd /var/app/ondeck/app/; chown -R webapp:webapp tmp/; chmod -R 777 tmp/"
  04-update-composer:
    command: "export COMPOSER_HOME=/root; /usr/bin/composer.phar self-update"
  05-install-composer-dependencies:
    command: "cd /var/app/ondeck/; composer.phar install"
  06-vendor-permissions:
    command: "cd /var/app/ondeck/; chmod -R 755 vendor/"
  07-download-database-config:
    command: "cd /var/app/ondeck/app/Config; php /var/app/ondeck/app/Console/cake.php database_config"
