container-commands:
  01-remove-composer-lock:
    command: "cd /var/app/ondeck/; rm -f composer.lock"
  02-remove-vendor:
    command: "cd /var/app/ondeck/; rm -rf vendor/"
  03-update-composer:
    command: "cd /var/app/ondeck/; curl -sS https://getcomposer.org/installer | php"
  04-install-composer:
    command: "cd /var/app/ondeck/; php /var/app/ondeck/composer.phar install"
  05-update-owner:
    command: "cd /var/app/ondeck/; chown -R webapp:webapp vendor/"
  06-update-permissions:
    command: "cd /var/app/ondeck/; chmod -R 755 vendor/"
