packages:
  yum:
    newrelic-php5: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  01-configure_new_relic:
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: 12e386b04fcd3bf19b77fe5fda8a89f92da1746e
container_commands:
  01-set-new-relic-appname:
    command: "cd /var/app/ondeck/app/Console/Command/Task; chmod 775 newrelic_appname.sh; ./newrelic_appname.sh" 
