packages:
  yum:
    gcc-c++:[]
    make: []
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-2.8.17.tar.gz
commands:
  redis-build:
    command: make
    cwd: /home/ec2-user/redis-2.8.17
  01-redis-config:
    command: sed -i -e "s/# bind/bind/" redis.conf
    cwd: /home/ec2-user/redis-2.8.17
  02-redis-config:
    command: sed -i -e "s/# slaveof <masterip> <masterport>/slaveof authserver\.mddcrl\.0001\.usw1\.cache\.amazonaws\.com 6379/" redis.conf
    cwd: /home/ec2-user/redis-2.8.17
  03-start-redis-server:
    command: src/redis-server redis.conf
    cwd: /home/ec2-user/redis-2.8.17
