container_commands:
  01-create-aws-dir:
    command: "cd ~; mkdir -p .aws"
  02-create-config-file:
    command: "cd ~/.aws; touch config"
  03-echo-data-section:
    command: "cd ~/.aws; echo [default]"
  03-echo-data-access-key:
    command: "cd ~/.aws; echo aws_access_key_id = $AWS_ACCESS_KEY_ID"
  04-echo-data-secret-key:
    command: "cd ~/.aws; echo aws_secret_access_key = $AWS_SECRET_KEY"
  05-download-database-file:
    command: "cd /var/app/ondeck/app/Config/DB/; aws s3 cp s3://data-api-configs/$server_location.php ."  
  06-download-runscope-file:
    command: "cd /var/app/ondeck/app/Config/DB/; aws s3 cp s3://data-api-configs/runscope.php ."
  07-update-permissions:
    command: "cd /var/app/ondeck/app/Config/DB; chown -R webapp:webapp *.php"
