/* 

Structure
------------------------------------------------------------*/
#wrapper {
	background: #1b2224;
	position: relative;
}
#header {
	background: #1b2224;
	height: 77px;
	position: relative;
	width: 100%;
}
#header h1,
#header h1 a {
	width: 159px;
	height: 16px;
	text-indent: -999em;
}
#header h1 {
	margin: 30px 0 0 30px;
	float: left;
	padding: 0;
}
#header h1 a {
	background: url(../b2b/images/new-logo.png) 0 0 no-repeat;
	background-size: 159px 16px;
	display: block;
}
#sidebar {
	display: block;
	float: left;
	position: relative;
	z-index: 16;
	width: 228px;
}

#content {
	background: #fff;
	margin-left: 228px;
	margin-right: 0;
	margin-top: -39px;
	position: relative;
	min-height: 500px;
	width: auto;
	-webkit-background-clip: padding-box;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	padding-bottom: 50px;
}

#menu-trigger {
	position: absolute;
	font-size: 19px;
	line-height: inherit;
	top: 10px;
	right: 12px;
	color: #fff;
	z-index: 22 !important;
	display: none;
}

#content-header {}
#content-header h1 {
	margin: 30px 0 0;
	/*border-bottom: 1px solid #e9eff0;*/
}
#user-nav {
	position: absolute;
	right: 30px;
	top: 0;
	z-index: 20;
	margin: 0;
	line-height: 38px;
	height: 38px;
}
#user-nav .btn-group {
	height: 38px;
	line-height: 38px;
	margin: 0;
}
#dots {
	width: 184px;
	height: 203px;
	background: url(../b2b/images/dots.png) 0 0 no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 13px;
	text-align: center;
	line-height: 260px;
	color: #fff;
}




/* 

Sidebar Styling
------------------------------------------------------------*/

#sidebar {}
#sidebar > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 228px;
	border-top: 1px solid #262f31;
}
#sidebar ul li {
	display: block;
	position: relative;
	height: 51px;
	border-bottom: 1px solid #262f31;
}
#sidebar ul li a {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	display: block;
	color: #92a8af;
	font-size: 15px;
	font-family: 'proxima_nova_ltsemibold';
	font-weight: normal;
	background: #1b2224;
}
#sidebar ul li.active {
	border-bottom: 1px solid #fff;
}
#sidebar ul li.active a {
	background: #fff;
	color: #323b3d;
}
#sidebar i {
	float: left;
	height: 15px;
	margin: 16px 20px 0 5px;
}
.nav-circle-outer {
	height: 15px;
	width: 15px;
	background: #1b2224;
	border: 2px solid #3498db;
	border-radius: 50%;
	padding: 3px;
	margin: 1%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.nav-circle-inner {
	height: 2px;
	width: 2px;
	background: #3498db;
	border: 1px solid #3498db;
	border-radius: 50%;
	padding: 2px;
	margin: 1%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	opacity: 0;
	visibility: hidden;
}
li.active .nav-circle-outer {
	background: #fff;
}
li.active .nav-circle-inner, #sidebar > ul > li > a:hover .nav-circle-inner, #sidebar li.open > a > i  .nav-circle-inner{
	opacity: 1.0;
	visibility: visible;
}

/* drop downs */
#sidebar ul li.open {
	height: auto;
	border-bottom: none;
}
#sidebar ul ul {
display: none;
margin: 0;
padding: 0;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
position: relative;
	border-top: 1px solid #262f31;
list-style: none;
}
#sidebar ul ul li {
height: 41px;
border-bottom: 1px solid #222b2e;
}
#sidebar ul ul li a {
	height: 40px;
	line-height: 40px;
font-size: 14px;
color: #5b6a6f;
padding: 0 0 0 30px;
background: #141a1c;
}
#sidebar ul ul li i {
	margin: 16px 24px 0 24px;
}
#sidebar ul ul li .nav-circle-inner {
	border-width: 2px;
	opacity: 0.5;
}
#sidebar ul ul li:hover .nav-circle-inner {
	opacity: 1;
}
#sidebar ul ul li:hover a {
	color: #fff;
}
/* 

Font Styles
------------------------------------------------------------*/
@font-face {
	font-family: 'proxima_nova_ltlight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova-light-webfont.woff') format('woff'),
	url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
	url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
	font-weight: normal;
	font-style: normal;

}
.primaryLight {
	font-family: "proxima_nova_ltlight","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-reg-webfont.eot');
	src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova-reg-webfont.woff') format('woff'),
	url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
	url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
.primaryRegular {
	font-family: "proxima_nova_rgregular","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@font-face {
	font-family: 'proxima_nova_ltsemibold';
	src: url('../fonts/proximanova-sbold-webfont.eot');
	src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
	url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
	url('../fonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}
.primaryBold {
	font-family: "proxima_nova_ltsemibold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	font-family: "proxima_nova_rgregular","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #1b2224;
	-webkit-font-smoothing: antialiased;
	background: #1b2224;
}

h1,h2,h3,h4,h5 {
	font-family: "proxima_nova_ltlight","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 44px;
	-webkit-font-smoothing: antialiased;
}
h2 {
	font-size: 28px;
	-webkit-font-smoothing: antialiased;
}
h5 {
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
}



/* 

Color Classes
------------------------------------------------------------*/
.white {
	color: #fff;
}
.black, .blackHover {
	color: #1b2224;
}
.subtle {
	color: #626566;
}
.italic {
	font-style: italic;
}
.color_border1 {
	border-color: #3498db;
}
.color_border2 {
	border-color: #27ae60;
}
.color_border3 {
	border-color: #fd7037;
}
.color_border4 {
	border-color: #f39c12;
}
.color_border5 {
	border-color: #8e44ad;
}
.color_border6 {
	border-color: #16a085;
}
.color_border7 {
	border-color: #1abc9c;
}
.color_border8 {
	border-color: #92a8af;
}
.active .color_border8 {
	border-color: #1b2224;

}

.color_bg1 {
	background: #3498db;
}
.color_bg2 {
	background: #27ae60;
}
.color_bg3 {
	background: #fd7037;
}
.color_bg4 {
	background: #f39c12;
}
.color_bg5 {
	background: #8e44ad;
}
.color_bg6 {
	background: #16a085;
}
.color_bg7 {
	background: #1abc9c;
}
.color_bg8 {
	background: #92a8af;
}
.active .color_bg8 {
	background: #1b2224

}

/* 

Range Picker Resets and Global Styles
------------------------------------------------------------*/
.rangePicker {
margin: 30px 0 6px;
height: 44px;
line-height: 44px;
padding-top: 0;
padding-bottom: 0;
cursor: pointer;
text-align: right;
}
.rangePicker i {
background: url(../b2b/images/drop-down-arrow.png) center no-repeat;
width: 17px;
height: 17px;
background-size: 17px 17px;
margin: 13px 0 0 13px;
display: block;
float: right;
}

/* 

Bootstrap Resets
------------------------------------------------------------*/
/*.hide {
  display: none;
  visibility: hidden;
}*/
a:hover, a:active, a:focus {
	outline: 0;
}
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
a:hover { text-decoration: none;}
hr {
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid #e9eff0;
}
.alert-neutral{
	background: #fff;
}
.btn-primary,
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus
{
	background: #2c3e50;
	border-color: #2c3e50;
	color: #fff;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #34495e;
	border-color: #2c3e50;
}
.bigger-dropdown {
	min-width: 234px;
}
.smaller-checkboxes .checkbox {
	margin-top: 8px;
	margin-bottom: 8px;
}
.bigger-dropdown .divider {
	width: 100%;
}
.alert-info.dashboard {
	background: #e9eff0;
	border-color: #1b2224;
	color: #1b2224;
}
.alert-info {
	border-color: #d9edf7;
}
.form-horizontal .control-label {
font-weight: normal;
}
.table,.table-dark {
border-bottom: 1px solid #ddd;
}
.table>thead>tr>th {
	padding: 10px 8px;
}
.table>thead>tr>td  {
	-webkit-font-smoothing: subpixel-antialiased;
}

.table.table-dark>thead>tr>th  {
	color: #fff;
	background-color: #34495e;
	border-color: #2c3e50;
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	border-bottom: 2px solid #1b2224;
	border-right: 1px solid #1b2224;
}
.table.table-dark tbody td  {
	border-bottom: 1px solid #d9d9d9;
	padding: 12px;
	/*-webkit-font-smoothing: subpixel-antialiased;*/
}

/*tablesorter*/
.table th.sorting {
	cursor: pointer;
}
.table thead th.tablesorter-headerDesc .tablesorter-header-inner,
.table thead th.sorting_desc .tablesorter-header-inner {
  background-image: url(../b2b/images/white-desc.gif);
}
.table thead th.tablesorter-headerAsc .tablesorter-header-inner,
.table thead th.sorting_asc .tablesorter-header-inner {
  background-image: url(../b2b/images/white-asc.gif);
}
.table.table-dark>thead>tr>th.tablesorter-headerAsc,
.table.table-dark>thead>tr>th.sorting_desc,
.table.table-dark>thead>tr>th.sorting_asc,
.table.table-dark>thead>tr>th.tablesorter-headerDesc {
  background-color: #1b2224;
}
.table thead th .tablesorter-header-inner {
  background: url(../b2b/images/white-unsorted.gif) right center no-repeat;
  padding:4px 12px 4px 0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
}

.form-group.error>label, .form-group.error .help-block, .form-group.error .help-inline {
color: #b94a48;
}
.form-group.error input, .form-group.error select, .form-group.error textarea {
border-color: #b94a48;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.visible-xs.hide,
.visible-sm.hide {
	display: none !important;
}
/* 

Dashboard Classes
------------------------------------------------------------*/
.circleIcon {
	width: 34px;
	height: 34px;
	display: inline-block;
	margin-bottom: -4px;
	margin-right: 4px;
	border-radius: 50% !important;
	background-position: center center !important;
	background-size: 20px 20px !important;
	background-repeat: no-repeat !important;
}
.footstepsIcon {
	background-image:url('../b2b/images/footsteps.png') !important;
}
.revenueIcon {
	background-image:url('../b2b/images/revenue.png') !important;
}
.guestsIcon {
	background-image:url('../b2b/images/guests.png') !important;
}
.tagIcon {
	background-image:url('../b2b/images/tag.png') !important;
	background-size: 16px 16px !important;
}
.focusNumber {
	font-size: 37px;
	line-height: 74px;
}
.secondaryNumber {
	font-size: 24px;
	line-height: 30px;
}
.metric {
	background: url(../b2b/images/rt-arrow.png) 100% 55px no-repeat;
}
.metric.last, .metric.nobg {
	background: none;
}
.dataRow {
	padding-right: 40px;
	padding-left: 20px;
}
.dataRow.last {
	padding-right: 20px;
}
.col-md-12.dataRow {
	padding-right: 20px;
}
.progress {
	height: 4px;
	background: #e9eff0;
	margin: 20px 0;
}
.progress-bar,
.progress {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.metric .subtle {
	padding: 0 0 20px 0;
}
.bottomMetrics {
height: 50px;
line-height: 20px;
}
.insight {
	height: 62px;
	border-left-width: 3px;
	border-left-style: solid;
	padding: 6px 0px 6px 12px;
	margin: 30px 0 10px 0px;
}
.insight .subtle.pull-right {
	line-height: 36px;
}
.insight {}

.varA {
min-width: 36px;
display: inline-block;
}
.varA img {
	margin: 0 auto;
}
.noPosInfoWindow {
	margin-left: 20px;
	padding: 20px;
	min-height: 188px;
}
.graph {
	/*height: 200px;*/
}
.comparison-range {
float: right;
text-align: right;
font-size: 80%;
margin: 0 4px 0 0;
}
.form-horizontal select.day_enable {
	margin: 0 30px;
}
.drilldownTrigger {
cursor: pointer;
opacity: 0.5;
margin: 10px 0 0;
}
.drilldownTrigger:hover,
.active .drilldownTrigger {
	opacity: 1.0;
}
.drilldownTarget {
border-top-width: 10px;
border-top-style: solid;
margin-top: 14px;
margin-bottom: 14px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #e9eff0;
}
/* 

Special Button Classes
------------------------------------------------------------*/
a.rt-arrow-button {}
a.rt-arrow-button span {
display: inline-block;
width: 12px;
height: 12px;
background: url(../b2b/images/button-right-arrow.png) center no-repeat;
background-size: 12px 12px;
margin: 4px 0 0 8px;
float: right;
}

/* 

Helper Classes
------------------------------------------------------------*/
.spacing {margin-bottom: 30px;}
.spacingTop {margin-top: 30px;}
.separator {
	border-bottom: 1px solid #e9eff0;

}
.caps {
	text-transform: uppercase;
}
.stripSpacing {
	margin: 0;
	padding: 0;
}
.headerSpacing {
	padding: 0;
	margin: 0 0 30px;
}
.trans {
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;		
}
.evenHeaderSpacing {
	margin: 30px 0;
}

/* 

Responsive Structure
------------------------------------------------------------*/
@media (max-width: 1440px) {
	.focusNumber {
		font-size: 32px;
	}
}
@media (max-width: 1250px) {
	.focusNumber {
		font-size: 25px;
	}
}
@media (min-width : 992px) and (max-width : 1100px) {
/* Styles */
	.insight {
		height: 88px;
	}
	.secondaryNumber {
	font-size: 20px;
	line-height: 33px;
	}
	/*Resize icons on ipad*/
	.circleIcon {
		width: 22px;
		height: 22px;
		margin-bottom: -2px;
		background-size: 12px 12px;
	}
}
@media (max-width: 992px) {
	.dataRow, .container-fluid {
		padding: 0 15px;
	}
	.metric {
		background: url('../b2b/images/dn-arrow.png') bottom center no-repeat;
		padding: 15px 15px 20px;
	}
	.insight {
		margin: 20px 0 0 0;
	}
	.focusNumber,
	.metric h5 {
		line-height: 54px;
		margin: 0;
	}
	.focusNumber {
		float: right;
	}
	.metric h5 {
		float: left;
	}
	.metric .progress {
		clear: both;
	}
	.drilldownTrigger {
		display: none;
	}
}
@media (max-width: 767px) {
	#header {
		left: 0;
		padding-top: 1px;
		z-index: 1;
		height: 42px;
	}
	#header h1 {
		margin: 13px auto;
		float: none;
		padding: 0;
	}
	#menu-trigger {
		display: block;
	}
	#dots {
		display: none;
	}
	#sidebar {
		display: none;
		float: none;
		position: static;
		height: 100%;
		width: 100%;
		top: auto;
		left: auto;
		z-index: 0;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
	.menu-open #sidebar {
		display: block;
		z-index: 10;
	}
	.menu-open #sidebar > ul {
		position: static;
		width: 100%;
	}
	#content {
		margin: 0;
		border-radius: 0;
	}
	#user-nav {
		display: none;
	}
	.rangePicker {
		text-align: left;
		width: 100%;
	}
	.comparison-range {
	float: none;
	text-align: left;
	font-size: 80%;
	margin: 0;
	}
	.form-horizontal select.day_enable {
		margin: 0;
	}


}

button.close[disabled]{
    cursor: default;
}

button.close[disabled]:hover, button.close[disabled]:focus{
    cursor: default;
    opacity: 0.2;
}
.alert-top {
    margin-top: 20px;
}
@media print {

    @viewport {width:1000px;}
    #header {display: none;}

    #sidebar {display: none;}

    #content {margin: 0;}
    .progress{
        background-color: #F5F5F5 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5F5F5', endColorstr='#F5F5F5')" !important;
    }

    .color_bg1{
        background-color: #3498DB !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .color_bg2{
        background-color: #27ae60 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .color_bg3{
        background-color: #fd7037 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .color_bg4{
        background-color: #f39c12 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }


    .color_bg5{
        background-color: #8e44ad !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .color_bg6{
        background-color: #16a085 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .color_bg7{
        background-color: #1abc9c !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .color_bg8{
        background-color: #92a8af !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3498DB', endColorstr='#3498DB')" !important;
    }

    .progress, .progress > .progress-bar {
        display: block !important;
        -webkit-print-color-adjust: exact !important;

        box-shadow: inset 0 0 !important;
        -webkit-box-shadow: inset 0 0 !important;
    }

    .circleIcon {
        display: inline-block !important;
       /* -webkit-print-color-adjust: exact !important;*/
    }

}
