/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing:antialiased;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

ul.blank { list-style: none; list-style-type: none; list-style-image: none;}

header, footer, nav, aside, section { display: block;}

/* main classes  */

html {
    background:#222
 }

.col1 {
    width:75px;
}

.col2 {
    width:170px;
}

.col3 {
    width:265px;
}

.col4 {
    width:360px;
}

.col5 {
    width:455px;
}

.col6 {
    width:550px;
}

.col7 {
    width:645px;
}

.col8 {
    width:740px;
}

.col9 {
    width:835px;
}

.col10 {
    width:930px;
}

.col11 {
    width:1025px;
}

.col12 {
    width:1120px;
}
.transBox {
    background-color: rgba(20,20,20,0.6)
}
.screen-reader {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}


.hide {
    display:none;
}

.margCol {margin:0 30px;}
    
/* ---- Global Styles ---- */
#outerWrapper {
    width:100%;
    margin:0 auto;
    background-color:#fff;
    padding-bottom: 30px;
}   

#innerWrapper {
    bmargin: 0px auto;
    padding: 20px 0px 20px;
    width: 1120px;
    
}


.wrap {margin:0 auto; width:1120px; padding:0;}


.spacing {
    margin-bottom: 26px;
}

.col {
    padding:15px;
}

#content {margin:0;}
    
a.photoBlock img{width:125px; height:100px; border:1px solid #000; display: block; float:left; margin:5px;}
a.photoBlock:hover img {border-color:#fff; -moz-box-shadow: 0px 0px 5px #2084b8;
-webkit-box-shadow: 0px 0px 5px #2084b8;
box-shadow: 0px 0px 5px #2084b8;}



a.hear_more {
    position:absolute;
    right:0;
    bottom:17px;
    margin-left:5px;
    font-size:.9em;
}

#searchBox {
    margin-top:5px;
}

.trans {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    
/* ---- weird textures home page and beyond ----*/
.admatWrap  {
    background: #9b9b9b; /* Old browsers */
    background: -moz-linear-gradient(top,  #9b9b9b 0%, #757575 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(100%,#757575)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9b9b9b 0%,#757575 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

   /* bottom: -42px;
    height: 30px;
    left: -3px;
    position: absolute;
    width: 622px;
    z-index: 10;*/
}   
/* ---- Rotating Admat ---- */
.admatWrap {
width: 100%;
z-index: 100;
position: relative;
background: #111 url("/b2b/images/swarm-background.jpg") center;
height: inherit;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);
background-size: cover;
-moz-box-shadow: 0 0 6px rgba(0,0,0,.25);
box-shadow: 0 0 6px rgba(0,0,0,.25);
}
.hero {
    /*height: 549px;*/
}
.hero .info {
width: 100%;
background: rgba(1,1,1,0.7);
min-height: 410px;
}
.hero .button.float-left, 
.hero .button.float-right {
    margin: 40px 0 20px;
}
.hero h3 {
    font-size: 22px;
    text-transform: none;
}
.hero h1 {
font-size: 45px;
line-height: 1em;
padding: 40px 0 20px;
text-transform: uppercase;
}
.hero h1 span {display: block;}
.video-callout {
width: 122px;
height: 51px;
background: url(/b2b/images/check-out-the-video.png);
position: absolute;
right: 10px;
top: 54px;
z-index: 100;
}
    
/* ---- Modal ----*/
.modal {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
}
.modal > div {
    margin-top: 80px;
}
.modal .close {
position: absolute;
top: -40px;
right: -40px;
font-size: 40px;
margin: 0;
}
.modal iframe {
    border: 2px solid #000;
    display: block;
}
.modal a.getstarted {
    display: block;
    margin: 10px 0;
}
/* ---- Footer ----*/
#footer {
    color:#fff;
    display:block;
    position:relative;
    padding:160px 0 40px;
    font-size:14px;
    line-height: 1.5em;
}
#footer .wrap { z-index: 100; position: relative;}
#footer p.caps.small {margin-bottom: 0;}
#footer h1, #footer h2, #footer h3, #footer a {color:#fff; margin-bottom:26px; -moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;}
#footer h3 {font-size:21px; font-family:'gothamBold';margin-bottom:14px;}
#footer h2 {font-size:21px; margin-bottom:26px;}
#footer a:hover {text-decoration: none; color:#63BC46;}

#footer ul {list-style:none; margin:0 0 46px; line-height: 2em;}
#footer ul li {margin:0; }

.footCenter {
    color: #fff;
    
    display: block;
    margin: 0 auto;
    position: relative;
    width: 950px;
}

.footLeft {width:290px;}

#footer a.contactLink { text-decoration: underline; color:#fff;
    
}

#footer .borderRight {
width: 4px;
height: 300px;
display: block;
float: right;
background: #fff;
margin-top: 0;
}

#footer li.social a {
background: url('/b2b/images/sns.png') left center no-repeat;
text-indent: 30px;
display: block;
margin: 10px 0;
padding: 0;
height: 20px;
line-height: 20px;
}
#footer li.social.fb a {background-position: 0 0;}
#footer li.social.t a {background-position: bottom left;}
#footer_dots {
    position: absolute;
    left: 0;
    top: -58px;
    width: 100%;
    background: url(/b2b/images/footer_dots.png) center center no-repeat;
    z-index: 1;
    height: 177px;
}
.mesh {
  background: url(/b2b/images/lt-mesh.png) repeat;
}
.mesh.dark {
  background-image: url(/b2b/images/dk-mesh.png);
}
.demo {
  -webkit-box-shadow: inset 0 1px 22px 5px rgba(1,2,2,.17);
    -moz-box-shadow: inset 0 1px 22px 5px rgba(1,2,2,.17);
    box-shadow: inset 0 1px 22px 5px rgba(1,2,2,.17);
    height: 60px;
    line-height: 60px;
    padding: 20px 0;
}
.button{
    -webkit-border-radius: 5px/6px;
    -moz-border-radius: 5px/6px;
    border-radius: 5px/6px;
    padding: 9px 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
}
.button.float-left,
.button.float-right {
    margin-left:10px;
    margin-right:10px;
}
.button.muted {
    background-color: #989897;
}
.button, .button.flip:hover {
    background-color: #f7941d;
}
.button:hover, .button.flip { background: #63BC46; color: #fff;}
.button.large {
    margin: 0;
    padding: 21px 0;
}
.block {display:block;}

/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
      
-------------------------------------------------------------- */

@font-face {
    font-family: 'gotham';
    src: url('/css/fonts/Gotham-Book.eot');
    src: url('/css/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Gotham-Book.woff') format('woff'),
         url('/css/fonts/Gotham-Book.ttf') format('truetype'),
         url('/css/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamBold';
    src: url('/css/fonts/Gotham-Medium.eot');
    src: url('/css/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Gotham-Medium.woff') format('woff'),
         url('/css/fonts/Gotham-Medium.ttf') format('truetype'),
         url('/css/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.primary {
    font-family: 'gotham';
    
}
.primaryBold {
    font-family: 'gothamBold';

}


/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
height: 100%;
width: 100%;

}


body { 
  font-size:100%;
  color: #fff;
  font-family: 'gotham', Helvetica,Arial, sans-serif;
  padding: 0;
    background:#000;
  margin:0;

}


/* Headings
-------------------------------------------------------------- */




    
h1 a { color: #1e8691;}
h1 a:hover {color: #fff;}


h1,h2 {
    font-size: 30px;
    margin: 0px 0 5px;
    font-family: "gotham";
    -webkit-font-smoothing: antialiased;
}

.dividerWrap {height:40px; border-bottom:2px solid #cccccc; width:100%; margin:25px 0; display:block;}



h3 {
    font-size: 22px;
    margin: 5px 0 2px;
    font-family: "gotham";
    color:#000;
    text-transform: uppercase;
}


h4 { font-size: 1.5em; line-height: 1.25; margin-bottom: .5em; }
h5 { font-size: 1em;  margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}
.page { margin-top: 40px;}
a.evenh1 { display: block; margin-top: 15px; font-size: .9em; font-weight: bold; margin-left: 15px;}


/* Global Classes
-------------------------------------------------------------- */
.float-left {float:left;}
.float-right {float:right;}
.clear {clear:both;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center object, .float-center {margin: 0 auto;}
.relative { position: relative;}
.inline_block {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.blockSpacing { margin-bottom: 20px;}
.noMargins { margin: 0;}
.showBlock { display: block;}
.caps { text-transform: uppercase;}
.withBorders { border: 1px solid #ffffcb;}



/* Text elements
-------------------------------------------------------------- */

p           { font-size:16px; margin: 0 0 1em; /*text-indent: 2em;*/ line-height: 1.6em;}


/*a.active,*/
a:focus,  a:hover, a.switch, a.active, a.current                { color:#327e1a;}
a, a.black:hover, a.white:hover, a.switch:hover         { text-decoration: none; color:#63BC46; outline: none; font-weight: normal; }
a.black                                                 { text-decoration: none; color: #000;}
.white, a.white                                                 { text-decoration: none; color: #fff;}
.black {color: #000;}

a.bold { font-weight:bold;}

a.titleLink { line-height: 40px; font-size: 1.1em;}
a.more { margin-top: 14px; font-size: 1.1em;}
a.underline { text-decoration: underline;}
blockquote  {
    color:#fff;
    font-size:1.4em;
    font-style:italic;
    margin:1.5em 0;
    padding:10px;
    background: #36261e;
    }
blockquote p { margin-bottom: 0; text-indent:35px;}
blockquote p span { display: block; text-align: right;}
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; } 
.dots {
background: url("/b2b/images/solutions/dots.png") no-repeat scroll left center transparent;
font-size: 20px;
padding-left: 25px;
text-transform: uppercase;
height: 45px;
line-height: 46px;
margin-bottom: 20px;
}
h1.dots {
    background: url("/b2b/images/solutions/big_dots.png") no-repeat scroll 0 center transparent;
    color: #000000;
    font-size: 35px;
    padding-left: 50px;
    text-transform: uppercase;
    min-height: 45px;
    margin-bottom:30px;
    margin-top:50px;
}

/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin:0; padding:0; border-collapse: collapse;}
th          {  font-size: 1.2em; font-weight: bold;  text-transform: uppercase;}
th,td       { padding: 10px 10px 10px 0; border-bottom: 1px solid #000; }
tr {
}
tr.odd   { background-color: #000; }
tr.even   { background: #ccc; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

/* Forms
-------------------------------------------------------------- */

/* Forms
--------------------------------------------------------------*/
input {
    border:2px solid #c2c1bf;
    height:20px;
    margin:0;
    padding:0;
}

input.submit {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #D8D4CB;
    color: #000;
    font-size: 1.1em;
    height: 30px;
    padding: 4px 5px 5px;
    text-transform: uppercase;
    margin-top:10px;
}

input.submit:hover {
    background: #444;
    cursor:pointer;
}
/* Real Forms
-------------------------------------------------------------- */
.error {color: red; text-transform: none; font-size: 0.9em; margin:5px 0 0 0;}
fieldset {
    margin-top: 10px;
}
fieldset ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
fieldset ul li {
    margin-bottom: 20px;
}
fieldset ul li.half {
    float: left;
    margin: 0 60px 10px 0;
    width: 400px;
}
fieldset ul li input.text[type="text"], fieldset ul li textarea {
    border: 1px solid #C5C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
    color: #707070;
    font-size: 16px;
    padding: 15px;
}
fieldset ul li textarea {
line-height: 28px;
width: 820px;
height: 150px;
}
fieldset ul li input.text[type="text"] {
    width: 360px;
}
fieldset ul li input.text[type="text"]:focus, fieldset ul li textarea:focus {
    border: 1px solid #00ada7;
    -moz-box-shadow: 0 0 8px rgba(99, 188, 70, 0.35), 0 1px 2px rgba(0, 0, 0, 0.13) inset;
    -webkit-box-shadow: 0 0 8px rgba(99, 188, 70, 0.35), 0 1px 2px rgba(0, 0, 0, 0.13) inset;
    box-shadow: 0 0 8px rgba(99, 188, 70, 0.35), 0 1px 2px rgba(0, 0, 0, 0.13) inset;
}
fieldset ul li input.text[type="text"].error:focus, fieldset ul li textarea.error:focus {
    border: 1px solid #C5C4C4;
    -webkit-box-shadow: 0 0 4px #D59392;
    -moz-box-shadow: 0 0 4px #D59392;
    box-shadow: 0 0 4px #D59392;
}
input.submit {
    border: medium none;
    box-shadow: none;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    margin: 0 130px 0 0;
    width: 130px;
    cursor: pointer;
}
label {
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-size: 20px;
    font-weight: normal;
    line-height: 18px;
    color:#000;
}

label {margin-top:20px;}

#submitButton {
    background-color:#63BC46; 
    font-size:20px; 
    float:right; 
    margin-top:20px; 
    color:#fff; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    opacity:.8;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
    padding:10px 30px;
    display: block;
    height:50px;
    margin-bottom:50px;
    margin-right: 268px;
}

#submitButton:hover {opacity:1;}

/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .9em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
.bold       { font-weight:bold; }
.relative { position: relative;}


/* ---- Main Navigation --- */
#header {
    background:#111111;
    height: 89px;
    position: relative;
    z-index: 1000;
    -webkit-box-shadow: 0 0 8px #111;
    -moz-box-shadow: 0 0 8px #111;
    box-shadow: 0 0 8px #111;
}
.greenBorderBottom {
    border-bottom: 10px solid #65bc4b;

}
.video.withBorders {
    border: 10px solid #111;
    display: block;
    margin-top: 100px;

}
.logo {
    display: block;
    height: 42px;
    position: relative;
    width: 227px;
    margin:20px;
    background: url("/b2b/images/logo.png") no-repeat scroll top center transparent;
}


#innerNavigation {
    font-family: 'gothamBold';
    margin-bottom:0px;
    width:782px;
    margin-top:29px;    
}


#innerNavigation a{
    color:#fff;
    font-size:17px;
    text-transform: uppercase;
    margin-right:34px;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
    -webkit-font-smoothing: antialiased;
    }

#innerNavigation a:hover, #innerNavigation a.current{ text-decoration: none; color:#63BC46;}
    
#innerNavigation a.signIn{
    color:#fff;
    float:right;
    text-align: right;
    background-color:#949494;
    padding:5px 10px;
    opacity:.8;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    margin-top:-5px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    }

#innerNavigation a.signIn:hover { opacity:1;}

#subNav {
height:126px;
position: absolute;
bottom: 0;
width: 100%;
left: 0;
    background-color: rgba(20,20,20,0.7);
    border-top: 1px solid #292929;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
    background-image: -webkit-linear-gradient(bottom, rgba(1,2,2,.3), rgba(255,255,255,.3));
    background-image: -moz-linear-gradient(bottom, rgba(1,2,2,.3), rgba(255,255,255,.3));
    background-image: -o-linear-gradient(bottom, rgba(1,2,2,.3), rgba(255,255,255,.3));
    background-image: -ms-linear-gradient(bottom, rgba(1,2,2,.3), rgba(255,255,255,.3));
    background-image: linear-gradient(to top, rgba(1,2,2,.3), rgba(255,255,255,.3));
}
#subNav.twoline {
    height: 150px;
}
#subNav a {
     float:left;
     display: block;
     height: 126px;
     line-height: 28px;
     font-size: 16px;
     color: #aaa;
    cursor: pointer;
}
#subNav a span {
    height: 66px;
    width: 66px;
    margin: 12px auto;
    display: block;
    opacity: 0.8;
    background: url(/b2b/images/icons.png) 0 0 no-repeat;
}
#subNav a:hover {
    color: #f7f7f7;
} 
#subNav a:hover span {
    opacity: 1.0;
} 
#subNav a.tab_1 span {
    /* background-position: 0 -66px; */
}
#subNav a.tab_2 span {
    background-position: -66px 0;
}

#subNav a.tab_3 span {
    background-position: -132px 0;
}
#subNav a.tab_4 span {
    background-position: -198px 0;
}


.headerIfEvery { margin: 48px 0 0 50px; }

