.form-horizontal .control-label {
	padding-top: 0;
}
.form-horizontal .form-group {
	margin-top: 35px;
}
/*.pmt-info p {
text-transform: uppercase;
font-size: 12px;
  color: #444;
}
.pmt-info h4 {
font-weight: normal;
margin-bottom: 26px;
}*/

.row .hours_hide .time,
.row .hours_hide .time_to {
	display: none;
}
.form-actions .btn.corrected { margin-right: 76px;}
.pos {
	display: block;
	width: 175px;
	height: 66px;
	background: url(../../b2b/images/pos_logos.png) 0 0 no-repeat;
	margin: 10px auto 30px;
	padding: 20px 0 10px;
	border-bottom: 5px solid #fcfcfc;
}
.pos.mos {
	background-position: 0 0;
}
.pos.rpro {
	background-position: -175px 0;
}
.pos.erply {
	background-position: -350px 0;
}
.pos.ls {
	background-position: -525px 0;
}
.pos.vend {
	background-position: -700px 0;
}
.pos.active,.pos:hover {
	border-bottom: 5px solid #444;
}
#wirelessForm {display: none;}