.greyWrap {
    padding: 40px 0;
  }
  .greyWrap .phone {
    background: url(../../b2b/images/mobile_view.png) 85% 100% no-repeat;
    padding-bottom: 15px;
  }
  .greyWrap .phone.mos {
    background-image: url(../../b2b/images/merchant_os_phone.png);
  }
  .greyWrap .phone.rpro {
    background-image: url(../../b2b/images/retail_pro_phone.png);
  }
  .greyWrap .phone.vend {
    background-image: url(../../b2b/images/vend_phone.jpg);
  }
  .greyWrap .phone.smb {
    background-image: url(../../b2b/images/smb_phone.jpg);
  }
  .greyWrap .phone.hotpos {
    background-image: url(../../b2b/images/hotpos_phone.jpg);
  }
  .greyWrap .phone.erply {
    background-image: url(../../b2b/images/erply_phone.jpg);
  }
  .mos h1 {
    font-size: 26px;
  }

  .mos h2 {
    font-size: 20px;
  }
  .mos .intro {
    margin: 20px 0;
    font-size: 16px;
  }

  .mos .lead {
    font-size: 16px;
  }
  fieldset ul li.half {
  margin-bottom: 20px;
  width: 240px;
  }
  fieldset ul li input.text[type="text"] {
  width: 230px;
  color: #131313;
  -webkit-border-radius: 6px/9px;
    -moz-border-radius: 6px/9px;
    border-radius: 6px/9px;
    background-color: rgba(255,255,255,0);
    -webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,.33);
    -moz-box-shadow: inset 1px 2px 3px rgba(0,0,0,.33);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,.33);
    border: solid 1px #aaa;
    background-image: -webkit-linear-gradient(bottom, #e0e0e0, #fff);
    background-image: -moz-linear-gradient(bottom, #e0e0e0, #fff);
    background-image: -o-linear-gradient(bottom, #e0e0e0, #fff);
    background-image: -ms-linear-gradient(bottom, #e0e0e0, #fff);
    background-image: linear-gradient(to top, #e0e0e0, #fff);
    padding: 10px 15px;
  }

  #submitButton {
    float: none;
    width: auto;
    display: block;
    margin: 30px 0 0 194px;
    -webkit-border-radius: 6px/9px;
      -moz-border-radius: 6px/9px;
      border-radius: 6px/9px;
      background-color: #f7941d;
      -webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,.33);
      -moz-box-shadow: inset 1px 2px 3px rgba(0,0,0,.33);
      box-shadow: inset 1px 2px 3px rgba(0,0,0,.33);
      background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.31), rgba(247,148,29,0));
      background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.31), rgba(247,148,29,0));
      background-image: -o-linear-gradient(bottom, rgba(0,0,0,.31), rgba(247,148,29,0));
      background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.31), rgba(247,148,29,0));
      background-image: linear-gradient(to top, rgba(0,0,0,.31), rgba(247,148,29,0));
  }