.loginArea {
	color: white;
}
.logoDiv {
	margin: 50px auto;
	display: block;
	background: url(../../b2b/images/circle-logo.png) center center no-repeat;
	width: 237px;
	height: 236px;
}
.form-group {
	margin-bottom: 25px;
}
.form-control {
	height: 44px;
}
@media only screen and (max-width : 480px) {
	/* Styles */
	.logoDiv {
		margin: 30px auto;
		background-size: 118px 118px;
		width: 118px;
		height: 118px;
	}
}