/* DataTables*/

div.dataTables_info{
	float:left;
}

div.dataTables_length select {
	
	padding-bottom:0;
	margin-bottom:0;
	height:auto;
	width:auto;
}

div.dataTables_length{
	position:relative;
	color:inherit;
	float:left;
  top: 0;
  right: 0;
}

div.dataTables_paginate {
	line-height:inherit;
  float: right;
  margin: 0;
}