body {
	background: #222222;
}
.outerWrapper {background: #fff;padding: 20px 0 100px;}
.hat, .navbar {margin-bottom: 0;}

.container, .navbar .container {
	width: 940px;
}
.navbar.loggedIn .container {
width: 940px;
}
.heroWrap.splash {
	height: 300px;
	background: #000 url(/images/_pages/home/slide1.jpg) top center no-repeat;
}
.heroWrap {
	background: url(/images/_pages/splash/splash_bg2.jpg) top center no-repeat;
	border-bottom: 5px solid #000;
	width: 100%;
	background-size: cover;
	color: #fff;
	padding: 50px 0;
	/* height: 300px; */
}
.heroWrap.splash h1 {
	margin-top: 210px;
	}
.heroWrap h1 {
	margin: 0;
	text-transform: uppercase;
	background: none;
	padding: 0;
	font-size: 40px;
	text-shadow: 2px 2px #000000;
}
.heroWrap h1 span {
	display: block;
	font-size: 50px;
}
.wrap {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
.hero {
	width: 560px;
	float: left;
	margin-top: 50px;
	text-shadow: 1px 1px #000;
	font-family: 'ScalaSansOT-Bold';
}
.app {
    background: url("/images/_pages/splash/app_thumb.png") repeat scroll 0 0 transparent;
    height: 523px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 239px;
}
h1 {
	font-size: 34px;
	line-height: 1em;
	font-weight: normal;
	margin: 20px 0;
	font-family: 'ScalaSansOT-Regular';
	text-transform: uppercase;
	background: url(/images/_pages/_global/header_dots.png) left center no-repeat;
	padding-left: 30px;
}
h2 {
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 20px;
    font-family: 'ScalaSansOT-Regular';
    font-weight: normal;
}
h3 {
	font-family: 'ScalaSansOT-Regular';
	text-transform: uppercase;
	font-weight: normal;
	padding: 0 0 12px;
	font-size: 24px;
	border-bottom: 1px solid #000;
	margin: 12px 0 12px;
}
.spacing {
	margin-bottom: 24px;
}
.contentArea p, .contentArea ul, .contentArea li {
	font-size: 15px;
	line-height: 25px;
}
.hat, .navbar {
	margin-bottom: 0;
}
a.learnMore, input.submit {
	width: 231px; 
	height: 54px; 
	border-radius: 8px; 
		-moz-border-radius: 8px; 
		-webkit-border-radius: 8px; 
	box-shadow: 0 0 5px rgba(0,0,0,.35); 
	background: #414141; /* Old browsers */
	background: -moz-linear-gradient(top,  #414141 0%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #414141 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #414141 0%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414141 0%,#151515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #414141 0%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	color: #fff;
	line-height: 54px;
	text-align: center;
	text-shadow: 0 0 25px #000000;
	margin: 40px 0 0 20px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
a.learnMore span {
	padding: 0 0 0 10px;
}
a.learnMore:hover, input.submit:hover {
	text-decoration: none;
	color: #00ada7;
}
.container h1 {
	/* font-size: 22px; */
}
fieldset {
    margin-top: 10px;
}
fieldset ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
fieldset ul li {
    margin-bottom: 20px;
}
fieldset ul li.half {
    float: left;
    margin: 0 20px 10px 0;
    width: 400px;
}
fieldset ul li input.text[type="text"], fieldset ul li textarea {
    border: 1px solid #C5C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
    color: #707070;
    font-size: 16px;
    padding: 15px;
}
fieldset ul li textarea {
    line-height: 28px;
    width: 780px;
}
fieldset ul li input.text[type="text"] {
    width: 360px;
}
fieldset ul li input.text[type="text"]:focus, fieldset ul li textarea:focus {
    border: 1px solid #00ada7;
    box-shadow: 0 0 8px rgba(25, 201, 245, 0.35), 0 1px 2px rgba(0, 0, 0, 0.13) inset;
}
fieldset ul li input.text[type="text"].error:focus, fieldset ul li textarea.error:focus {
    border: 1px solid #C5C4C4;
    box-shadow: 0 0 4px #D59392;
}
input.submit {
    border: medium none;
    box-shadow: none;
    float: right;
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: 0 130px 0 0;
    width: 130px;
}
footer {
	margin-top: 0;
	line-height: 40px;
	color: #fff;
	letter-spacing: 0.1em;

}
.error {
	color: red;
}
footer strong {font-weight: normal;}
footer a {color: #fff;  text-shadow: none;-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;}
footer a:hover {
	color: #00ada7;
	text-decoration: none;
}
#contactWrap.loading {
	background: url(/images/_pages/_global/load.gif) center center no-repeat;
}
#contactWrap {

}
.featuredIn {
	display: block;
	background: url(/images/_pages/home/featuredin.png) 0 0 no-repeat;
	width: 139px;
	height: 33px;
	float: left;
	margin: 0;
	padding: 0;
}
.featuredIn.link1 {
	background-position: 0 0;
}
.featuredIn.link2 {
	background-position: -139px 0;
}
.featuredIn.link3 {
	background-position: 0 -33px;
	height: 93px;
}
.featuredIn.link4 {
	background-position: -139px -33px;
	height: 93px;
}
.featuredIn.link5 {
	background-position: 0 -126px;
	height: 37px;
}
.featuredIn.link6 {
	background-position: -139px -126px;
	height: 37px;
}

.clients {
	display: block;
	background: url(/images/_pages/home/clients.png) 0 0 no-repeat;
	width: 164px;
	height: 64px;
	float: left;
	margin: 0;
	padding: 0;
}
.clients.link1 {
	background-position: 0 0;
	width: 248px;
	height: 43px;
}
.clients.link2 {
	background-position: 0 -43px;
	margin-bottom: 8px;
}
.clients.link3 {
	background-position: -164px -43px;
	margin-bottom: 8px;
	width: 136px;
}
.clients.link4 {
	background-position: 0 -115px;
	height: 39px;
}
.clients.link5 {
	width: 136px;
	background-position: -164px -115px;
	height: 39px;
}
.sideNav {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #D9D9D9;
    border-radius: 5px 5px 5px 5px;
    margin: 0 20px 0 0;
}
.sideNav li {
    display: block;
}
.sideNav li a {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    font-family: 'ScalaSansOT-Regular';
    padding: 5px 10px;
    text-transform: uppercase;
}
.sideNav li a.active {
	background: #ccc;
}
.sideNav li a:hover {
	text-decoration: none;
	background:#e9e9e9;
}
.sideImage {
	margin: 0 0 0 30px;
}
#headerTweetList {
	list-style: none;
	height: 140px;
	margin: 0;
}
#headerTweetList li {
	display: block;
	width: 100%;
	height: 140px;
}
#headerTweetList li a {}