.adWrap {
    background: #000 url(../../b2b/images/solutions_bg.jpg) 50% 60% no-repeat;
    height: 527px;
}
#subNav a {
    width: 235px;
}
 a.comparisonSol, a.conversionSol, a.loyaltySol, a.transactionSol {margin-top:12px; float:left; display: block; text-indent: -9999em;  opacity:.8; transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -ms-transition: all ease 500ms;}

a.comparisonSol.current, a.conversionSol.current, a.loyaltySol.current, a.transactionSol.current,  a.comparisonSol:hover, a.conversionSol:hover, a.loyaltySol:hover, a.transactionSol:hover {opacity:1;} 



a.comparisonSol {
    width: 164px;
    height: 96px;
    margin-left:95px;
    background: url("../../b2b/images/solutions/comparison.png") no-repeat scroll top center transparent;
}
a.conversionSol {
    width: 163px;
    height: 94px;
    margin-left:95px;
    background: url("../../b2b/images/solutions/conversion.png") no-repeat scroll top center transparent;
}

a.loyaltySol {
    width: 107px;
    height: 93px;
    margin-left:95px;
    background: url("../../b2b/images/solutions/loyalty.png") no-repeat scroll top center transparent;
}
a.transactionSol {
    width: 238px;
    height: 94px;
    margin-left:95px;
    background: url("../../b2b/images/solutions/trans.png") no-repeat scroll top center transparent;
}


.greyWrap {
    background: url("../../b2b/images/solutions/section_bg.jpg") repeat scroll 0 0;      
    width:296px;
    display: block;
    width:100%;
    padding:50px 0 20px;
    height:550px;
    border-bottom:2px solid #656565;
}


.darkWrap{
/*background: url("../../b2b/images/icon_menu_bg.png") repeat-x scroll top center transparent;
width:100%;*/
width:296px;
display: block;
color:#fff;
width:100%;
padding:50px 0 20px;
height:550px;
border-bottom:2px solid #656565;
background: #676767; /* Old browsers */
background: -moz-linear-gradient(top,  #676767 0%, #838383 51%, #676767 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676767), color-stop(51%,#838383), color-stop(100%,#676767)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #676767 0%,#838383 51%,#676767 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #676767 0%,#838383 51%,#676767 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #676767 0%,#838383 51%,#676767 100%); /* IE10+ */
background: linear-gradient(to bottom,  #676767 0%,#838383 51%,#676767 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676767', endColorstr='#676767',GradientType=0 ); /* IE6-9 */

}   
.icon1 {
    width: 147px;
    height: 173px;
    background: url("../../b2b/images/solutions/icon_5.png") no-repeat scroll 0 center transparent;
    margin:58px 0 0 0px;
}

.icon2 {
    width: 186px;
    height: 157px;
    background: url("../../b2b/images/solutions/icon_1.png") no-repeat scroll 0 center transparent;
    margin:36px 0 0 0px;
}

.icon3 {
    width: 223px;
    height: 176px;
    background: url("../../b2b/images/solutions/icon_3.png") no-repeat scroll 0 center transparent;
    margin:60px 0 0 0px;
}

.icon4 {
    width: 207px;
    height: 166px;
    background: url("../../b2b/images/solutions/icon_2.png") no-repeat scroll 0 center transparent;
    margin:60px 0 0 0px;
}

.innerAdmats,.innerAdmats > div {
    display: block;
    height: 400px;
    width: 865px;
    margin:  0 0 0;
    overflow: hidden;
    position: relative;
    border:none;
}

h4.slideTitle {
    font-family: "gothambold";
    font-size: 28px;
    margin: 5px 0 20px;
    text-align: center;
}
h2.dots {
    font-size: 32px;
}

.slideP {
    font-size: 21px;
    line-height: 1.8em;
    margin: 0 0 1em;
}

.white {color:#fff;}
.headerPic {background:url(../../b2b/images/solutions/top_graphic.jpg)no-repeat 0 0 transparent; width:1140px; height:450px;}
.headerText {
    background-color: rgba(132, 187, 80, 0.7);
    color: #FFFFFF;
    font-size: 45px;
    line-height: 1.2;
    margin-top: 100px;
    padding: 20px 0px 20px 40px;
    text-transform: uppercase;
    width: 518px;
}
#video-bg-wrapper {
min-width: 100%;
height: 527px;
background: #000 url("../../b2b/images/solutions_background.jpg") center center no-repeat;
overflow: hidden;

}
#video-bg-wrapper video  {
    /* width: 100%; */
    display: block;
    margin: 0 auto;
}