.container, .navbar .container {
	width: 844px;
}
.navbar.loggedIn .container {
width: 940px;
}
.heroWrap {
	height: 476px;
	background: url(/images/_pages/splash/splash_bg2.jpg) top center no-repeat;
	border-bottom: 5px solid #000;
	width: 100%;
	background-size: cover;
	color: #fff;
	margin-bottom: 50px;
}
.wrap {
	width: 844px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
}
.hero {
	width: 560px;
	float: left;
	margin-top: 50px;
	text-shadow: 1px 1px #000;
	font-family: 'ScalaSansOT-Bold';
}
.app {
    background: url("/images/_pages/splash/app_thumb.png") repeat scroll 0 0 transparent;
    height: 523px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 239px;
}
h1 {
	font-size: 46px;
	font-weight: normal;
	margin-bottom: 20px;
}
h2 {
	font-family: 'ScalaSansOT-Italic';
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 20px;
}
.hero ul {

}
.hero ul li {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.5em;
}
.hat, .navbar {
	margin-bottom: 0;
}
a.learnMore, input.submit {
	width: 231px; 
	height: 54px; 
	border-radius: 8px; 
		-moz-border-radius: 8px; 
		-webkit-border-radius: 8px; 
	box-shadow: 0 0 5px rgba(0,0,0,.35); 
	background: #414141; /* Old browsers */
	background: -moz-linear-gradient(top,  #414141 0%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #414141 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #414141 0%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414141 0%,#151515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #414141 0%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	color: #fff;
	line-height: 54px;
	text-align: center;
	text-shadow: 0 0 25px #000000;
	margin: 40px 0 0 20px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
a.learnMore span {
	padding: 0 0 0 10px;
}
a.learnMore:hover, input.submit:hover {
	text-decoration: none;
	color: #00ada7;
}
.container h1 {
	font-size: 22px;
}
fieldset {
    margin-top: 10px;
}
fieldset ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
fieldset ul li {
    margin-bottom: 20px;
}
fieldset ul li input.text[type="text"], fieldset ul li textarea {
    border: 1px solid #C5C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
    color: #707070;
    font-size: 16px;
    padding: 15px;
}
fieldset ul li textarea {
    line-height: 28px;
}
fieldset ul li input.text[type="text"] {
    width: 360px;
}
fieldset ul li input.text[type="text"]:focus, fieldset ul li textarea:focus {
    border: 1px solid #00ada7;
    box-shadow: 0 0 8px rgba(25, 201, 245, 0.35), 0 1px 2px rgba(0, 0, 0, 0.13) inset;
}
fieldset ul li input.text[type="text"].error:focus, fieldset ul li textarea.error:focus {
    border: 1px solid #C5C4C4;
    box-shadow: 0 0 4px #D59392;
}
input.submit {
    border: medium none;
    box-shadow: none;
    float: left;
    font-family: Helvetica;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: 0 0 0 262px;
    width: 130px;
}
footer {
	margin-top: 50px;
	line-height: 40px;
	color: #fff;
	letter-spacing: 0.1em;

}
.error {
	color: red;
}
footer strong {font-weight: normal;}
footer a {color: #fff;  text-shadow: none;-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;}
footer a:hover {
	color: #00ada7;
	text-decoration: none;
}
#contactWrap.loading {
	background: url(/images/_pages/_global/load.gif) center center no-repeat;
}
#contactWrap {
	height: 330px;
}